body{
    background-color: black;
}

.img{
    margin-left: 450px;
}

.form-group input {
    width: 900px;
    color: white;
    
    font-size: 35px;
    margin-left: 3.5%;
    height: 100px;
    background-color: black;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    }

    h3{
        text-align: center;
        font-family: sans-serif;
        color: #d0cece;
        font-size: 43px;
    }

    span{
        font-size: 40px;
    }

    h1{
        color: white;
        font-size: 55px;
        font-family: sans-serif;
    }
    h6{
        color: rgb(142, 140, 140);
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .btn {

      width: 200px;
      margin-top: -20px;
      margin-left: 80%;
      height: 80px;
      padding: 10px;
      font-size: 30px;
      background-color: rgb(202, 200, 200);
      color: #000000;
      border: none;
      border-radius:170px;
      font-family: sans-serif;
      cursor: pointer;
    }

    .form-group2 input {

      width:0%;
      color: rgb(0, 0, 0);
      font-size: 5px;
      margin-left: 35%;
      height:1px;
      background-color: rgba(0, 0, 0, 0);
      padding: 10px;
      border: 1px solid #0000002d;
      border-radius: 100px;
    }
    .btn2 {

      width: 250px;
      margin-top: 5px;
      margin-left: 35px;
      height: 45px;
      padding: 10px;
      font-size: 30px;
      background-color: rgb(0, 0, 0);
      color: #000000;
      border: 2px solid #ffffff;
      border-radius:170px;
      font-family: sans-serif;
      
    }

    .error-message {
      color: rgb(246, 129, 129);
      font-size: 25px;
      margin-left: 10px;
      font-family: sans-serif;
      margin-bottom: 10px;
    }
    a{
        font-family: sans-serif;
        
    
        
        color: rgb(255, 255, 255);
    }

    .bu{

        margin-top: 1200px;
       
    }